<ion-view view-title="New item">

    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-navicon"
                ng-click="employeesAddCtrl.showSubmit()">
        </button>
    </ion-nav-buttons>


    <ion-content class="padding">

        <h2 align="center">New item</h2>

        <form ng-submit="employeesAddCtrl.clientSubmit()" novalidate name="employeesAddCtrl.form" autocomplete="off">
            <div class="list">
                <label class="item item-input">
                    <input type="text"
                           ng-model="employeesAddCtrl.name"
                           placeholder="Name"
                           name="name"
                           ng-change="employeesAddCtrl.change()" required>
                </label>

                <div ng-if="employeesAddCtrl.form.$submitted">
                    <div ng-show="employeesAddCtrl.form.name.$error.required" class="valid">Value required</div>
                </div>

                <label class="item item-input">
                    <input type="text"
                           ng-model="employeesAddCtrl.phone"
                           placeholder="Phone"
                           name="phone"
                           ng-change="employeesAddCtrl.change()" required>
                </label>

                <div ng-if="employeesAddCtrl.form.$submitted">
                    <div ng-show="employeesAddCtrl.form.phone.$error.required" class="valid">Value required</div>
                </div>

                <label class="item item-input">
                    <textarea rows="2"
                              ng-model="employeesAddCtrl.address"
                              placeholder="Address"
                              name="address"
                              ng-change="employeesAddCtrl.change()" required>
                    </textarea>
                </label>

                <div ng-if="employeesAddCtrl.form.$submitted">
                    <div ng-show="employeesAddCtrl.form.address.$error.required" class="valid">Value required</div>
                </div>

                <label class="item item-input">
                    <textarea rows="2"
                              ng-model="employeesAddCtrl.cv"
                              placeholder="Details"
                              name="cv"
                              ng-change="employeesAddCtrl.change()" required>
                    </textarea>
                </label>

                <div ng-if="employeesAddCtrl.form.$submitted">
                    <div ng-show="employeesAddCtrl.form.cv.$error.required" class="valid">Value required</div>
                </div>

                <label class="item item-input">
                    <textarea rows="2"
                              ng-model="employeesAddCtrl.description"
                              placeholder="Description"
                              name="description"
                              ng-change="employeesAddCtrl.change()" required>
                    </textarea>
                </label>

                <div ng-if="employeesAddCtrl.form.$submitted">
                    <div ng-show="employeesAddCtrl.form.description.$error.required" class="valid">Value required</div>
                </div>
            </div>

            <div ng-show="employeesAddCtrl.error" class="valid fix">
                Error. Wrong name or password
            </div>
            <button type="submit" class="button button-block button-positive"
                    style="background-color: #417D9A !important;">
                <strong>Submit</strong>
            </button>
        </form>
    </ion-content>

</ion-view>
